/* card.css */
.card {
    margin-left: 10px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    height: 450px; /* Sabit yükseklik belirleyin */
    width: 250px; /* Sabit genişlik belirleyin */
    border: 1px solid rgba(129, 129, 129, 0.8);
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow: hidden;
}

.card-title{
    font-weight: bolder;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Hover etkisi */
    transform: translateY(-5px); /* Hover etkisiyle yukarı hareket */
}

.card-img-top {
    height: 130px !important; /* Sabit yüksekliği belirleyin */
    object-fit: cover !important; /* Resmi kesmeden veya bozmadan sığdırır */
    width: 100%; /* Resmin genişliğini kartın genişliğine göre ayarlar */
}

.btn-primary {
    color: #fff;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.9), rgba(0, 0, 0, 0.9)); /* Kırmızıdan siyaha geçiş */
    border-color: #000000;
    width: 100%;
    border: 2px solid #000000; /* Buton sınırı */
    transition: background 0.8s ease, border-color 0.8s ease, color 0.8s ease, opacity 0.8s ease, transform 0.3s ease !important; /* Geçiş süreleri */
    position: relative;
    overflow: hidden; /* İçeriğin taşmasını engellemek */
    opacity: 0.8; /* Varsayılan opaklık */
    transform: scale(1); /* Varsayılan boyut */
}

/* Hover Durumu */
.btn-primary:hover {
    color: #fff;
    background: linear-gradient(45deg, rgba(255, 0, 0, 1), rgba(0, 0, 0, 1)); /* Hover durumunda daha belirgin renk geçişi */
    border-color: #000000;
    opacity: 1; /* Butonun hover durumundaki opaklığı */
    transform: scale(1.01); /* Hover durumunda %5 büyüme */
}

.kart-baslik {
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
}

@media (max-width: 768px) {
    
}