@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");


* {
    box-sizing: border-box; /* Padding ve border hesaplamasını içerir */
    font-family: "Poppins", sans-serif;
}

body {
    
    
    
    background-image: url('../images/hakkimizdaarkaplan.jpg');
    background-repeat: no-repeat; /* Resmin tekrar etmemesi */
    background-attachment: fixed; /* Arka planın sabit kalması */
    background-size: cover; /* Arka plan resmini kapsayıcı olarak ayarla */
    background-position: center; /* Arka plan resmini ortala */
    padding-top: 5%;
}




/* Başlık Stili */
h2 {
    color: #ffffff; /* Daha koyu bir başlık rengi */
    font-size: 2.7rem;
    margin-bottom: 20px;
    font-weight: bold;
    
}

/* Paragraf Stili */
p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 40px;
    text-align: justify;
    color: #000000; /* Daha açık bir renk */
    padding: 10px;
}

/* Resim Stili */
.hakkimizda-resim {
    max-width: 70%; /* Resim genişliği %100 */
    height: auto; /* Yüksekliği otomatik */
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.737));
    
}

/* İçerik Kutusu */
.container.mt-5 {
    
    padding-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.container {
    opacity: 0; /* Başlangıçta görünmez */
    transform: translateY(20px); /* Başlangıçta aşağı kaydırılmış */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Geçiş efektleri */
}

/* Satır Stili */
.row {
    background-color: rgba(129, 129, 129, 0.7);
    backdrop-filter: blur(0px); /* Start with no blur */
    -webkit-backdrop-filter: blur(0px); /* For Safari support */
    border-radius: 15px;
    padding: 15px;
    transition: backdrop-filter 0.6s ease, transform 0.3s ease-in-out !important; /* Add transition for backdrop-filter */
    z-index: 1;
    display: flex;
    align-items: center;
    margin-top: 5% !important;
}

.row:hover {
    backdrop-filter: blur(10px); /* Apply blur effect on hover */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    transform: scale(1.01) !important;
}

/* Responsive Stiller */
@media (max-width: 768px) {
    body {
    
        padding-top: 20%;
    }
    .container.mt-5 {
        padding-top: 25% !important;
        margin-bottom: 20% !important;
    }

    .row {
        flex-direction: column;
        margin-top: 20%;
        margin-bottom: 20%;
        
    }
    .row:hover {
        transform: none; /* Hover efektiyle biraz büyütme */
    }

    .hakkimizda-resim {
        display: none;
    }

    .social-media-icons {
       padding-top: 10px;
        margin-bottom: 20% !important;
    }
    p {
        font-size: 1.3rem;
        line-height: 1.6;
        margin-bottom: 40px;
        text-align:center;
        color: #000000; /* Daha açık bir renk */
    }

    h2 {
        text-align: center;
        
    }

    .social-media-icons a:hover {
        transform: none;
        transition: none;
    }

}

.container.mt-5 {
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.social-media-icons {
    margin-top: 15px !important;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;   
    margin-bottom: 0px;
}

.social-media-icons a {
    font-size: 24px;
    margin: 5px;
    color: #000; /* İkonların rengi */
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-media-icons a:hover {
    color: #007bff; /* İkonların hover rengi */
}


