/* medya_Detaylar.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

*{
    font-family: "Poppins", sans-serif;
}

html, body {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    margin: 0;
    padding: 0;
    
}

body {
    padding-top: 50px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('../images/hangar.jpg');
    background-repeat: no-repeat; /* Resmin tekrar etmemesi */
    background-attachment: fixed; /* Arka planın sabit kalması */
    background-size: cover; /* Arka plan resmini kapsayıcı olarak ayarla */
    background-position: center; /* Arka plan resmini ortala */
}

h1 {
    margin-bottom: 25px !important;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #999;
    color: white;
}

p {
    text-align: justify;
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: #333;
    text-shadow: 1px 1px 1px #999;
    color: white;
    
}

.img-fluid {
    max-width: 100%; /* Resmin genişliğini %100 yapar */
    height: auto;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.777);
    margin-bottom: 20px;
    transition: transform 0.4s ease, border-color 0.4s ease, border-width 0.4s ease, opacity 0.8s ease !important;
}

.img-fluid:hover {
    transform: scale(1.02);
}

.container {
    max-width: 1200px !important;
    margin: 0 auto;
    padding: 15px;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    
}

.col-md-6 {
    flex: 1;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.685);
    padding: 25px !important;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.col-md-6 img {
    width: 100%;
}

@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%; /* Küçük ekranlarda tam genişlik */
        max-width: 100%; /* Tam genişlik */
    }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
