/* Genel Stiller */
html, body {
    overflow-x: hidden; /* Yatay kaydırmayı devre dışı bırakır */
    overflow-y: auto; /* Dikey kaydırmaya izin verir */
    margin: 0; /* Sayfanın kenar boşluklarını sıfırlar */
    padding: 0; /* Sayfanın iç boşluklarını sıfırlar */
}

body {
    padding-top: 3%;
    background-image: url('../images/hangar.jpg');
    background-repeat: no-repeat; /* Resmin tekrar etmemesi */
    background-attachment: fixed; /* Arka planın sabit kalması */
    background-size: cover; /* Arka plan resmini kapsayıcı olarak ayarla */
    background-position: center; /* Arka plan resmini ortala */
}

/* Projeler Sayfası Stilleri */
.container {
    max-width: 1200px;
}

/* Kart Stili */
.project-card {
    border: 2px solid transparent; /* Varsayılan sınır, görünmez */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.679);
    transition: transform 0.4s ease, border-color 0.4s ease, border-width 0.4s ease, opacity 0.3s ease, background-color 0.5 ease !important; /* Opaklık geçiş süresi artırıldı */
    background-color: #ffffffaa;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
}

/* Kart Hover Durumu */
.project-card:hover {
    transform: scale(1.02) !important; /* Kartın hover durumunda büyümesi */
    border-color: rgba(255, 0, 0, 0.603);
    
    border-width: 2px; /* Sınır genişliği */
    border-radius: 8px; /* Yuvarlatılmış köşeler */
    opacity: 1 !important; /* Hover durumunda opaklık */
}


/* Kart Resmi Stili */
.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Kart İçeriği */
.project-card-body {
    padding: 15px;
}

/* Kart Başlığı */
.project-title {
    
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Kart Tarihi */
.project-date {
    font-size: 0.9rem;
    color: #555;
}

/* Kart Detayı */
.project-detail {
    font-size: 1rem;
    color: #333;
}

/* Başlık için Animasyon */
.fade-in {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Pagination Stili */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 3% !important;
}

.pagination-link {
    margin: 0 5px;
    transition: background-color 0.3s ease;
    
}

.pagination-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width: 768px) {
    .project-card img {
        height: 150px;
    }
    
    .mb-4{
        margin-top: 30px;
    }
}


.btn-primary {
    color: #fff;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.9), rgba(0, 0, 0, 0.9)); /* Kırmızıdan siyaha geçiş */
    border-color: #000000 !important;
    width: 100%;
    border: 2px solid #000000; /* Buton sınırı */
    transition: background 0.8s ease, border-color 0.8s ease, color 0.8s ease, opacity 0.8s ease, transform 0.4s ease !important; /* Geçiş süreleri */
    position: relative;
    overflow: hidden; /* İçeriğin taşmasını engellemek */
    opacity: 0.8; /* Varsayılan opaklık */
    transform: scale(1); /* Varsayılan boyut */
}

.text-center.mb-4.fade-in{
    font-size: 1.7rem; /* Küçültme */
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Hover Durumu */
.btn-primary:hover {
    color: #fff;
    background: linear-gradient(45deg, rgba(255, 0, 0, 1), rgba(0, 0, 0, 1)); /* Hover durumunda daha belirgin renk geçişi */
    border-color: #000000;
    opacity: 1; /* Butonun hover durumundaki opaklığı */
    transform: scale(1.01); /* Hover durumunda %5 büyüme */
}

