body, html {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Main Content CSS */
.medya-content {
    margin-left: 270px;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    max-width: 90%;
    text-align: center;
    color: white;
    background-color: #111111b2;
    padding: 15px;
    border-radius: 15px;
    text-shadow: 3px 3px 3px #999;
}

/* Medya Cards CSS */
.medya-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.medya-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
    background-color: #222222b1; /* %75 opaklık */
    border: 1px solid #555;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    position: relative;
    backdrop-filter: blur(10px);
}

.medya-card:hover {
    transform: translateY(0);
    opacity: 1;
    background-color: #222222; /* %100 opaklık */
    border: 1px solid #555;
}

/* Kartlar görünür hale geldiğinde uygulanacak stil */
.medya-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.medya-card h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.medya-details p {
    word-wrap: break-word; /* Uzun kelimelerin satır dışına taşmasını engeller */
    white-space: pre-wrap; /* Satır sonlarını ve boşlukları korur, uzun satırları alt satıra geçirir */
    overflow-wrap: break-word; /* Kelimeleri böler ve alt satıra geçirir */
    margin-bottom: 10px; /* Paragraflar arasında boşluk bırakır */
}

.medya-slider {
    margin-bottom: 15px;
}

.medya-images img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.delete-button {
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.add-button{
    background: linear-gradient(45deg, rgba(13, 255, 0, 0.9), rgba(178, 255, 168, 0.9));
    text-decoration: none;
    color: white;
    border: none;
    border-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.add-button:hover{
    background-color: rgb(55, 255, 0);
    opacity: 1;
    
    
}

.delete-button:hover {
    background-color: #cc0000;
}
